.container{
    height: 100vh;
    width: auto;
    background-color: #D39FB0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    
    .image-section img{
        width: 445px;
        height: 674px;
        padding-left: 100px;
    }
    .button-section {
         place-items: start;
          
          .questions ,.score{
            width: 250px;
            height: 60px; 
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            font-weight: bold;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
          }
        
        button{
          
            width: 250px;
            height: 60px; 
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            border-radius: 15px;
            color: white;
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
            
        }
    }
    .btn1{
        background-color: #EBC580;
      margin-top: 100px;
    }
    .btn2{
        background-color: #436652;
    }
}
.question{
    background-color:#EBC580;
    color: white;
    .question-section{
        display: grid;
        gap: 20px;
        grid-template-rows: 1fr 1fr 4fr;
        place-items: center;
        font-size: 16px;
        font-weight: bold;
        .questionNumber{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            display: grid;
            place-items: center;
            color: black;
            font-size: 22px;
        }
        .questiondiv{
            background-color: #C08697;
            width: 500px;
            height: auto;
            border-radius: 15px;
            display: grid;
            place-items: center;
            padding: 10px;
        }
        .answeres{
            // display: grid;
            // place-items: center;
            
           .answer{
               width: 500px;
               height: 70px;
               border-radius: 15px;
               background-color: #628274;
               height: 70px;
               margin: 10px 0;
               display: flex;
               place-items: center;
               justify-content: center;
               color: white;
           }
           .wrong{
               background-color: red;
               color: white;
               
           }
           .select{
               background-color: green;
               color: white;
           }
           .next-btn{
               padding: 20px;
               width: 100px;
               border: none;
               border-radius: 10px;
               color: white;
               background-color: rgb(39, 25, 16);
               font-weight: bold;
           }
        }
    }
}
a{
    text-decoration: none;
}
.getInTouch{
    font-size: 14px;
    text-align: center;
    background-color: rgb(197, 193, 193);
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 0.5px 5px  rgb(214, 213, 213);
    color: white;
    font-weight: bold;
    // text-decoration: none;

}
@media(max-width: 900px){
    .container{
        grid-template-rows:  1fr 1fr;
        grid-template-columns: 1fr;
        height: auto;
        .image-section img{
            width: 345px;
            height: 590px;
            padding-left: 0px;
        }
    }
}
@media(max-width: 1100px){
    .question{
        .question-section{
            .questiondiv{
                width: 300px;
            }
            .answeres{
                .answer{
                    width: 300px;
                    height: 60px;
                }
            }
        }
    }
}
@media(max-width: 500px){
    .container{
        .image-section img{
            width: 200px;
            height: 400px;
        }
    }
}